@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
    

<link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/lib/twitter-bootstrap/css/bootstrap.rtl.min.css" rel="stylesheet" />
<link href="~/lib/twitter-bootstrap/css/bootstrap.rtl.css" rel="stylesheet" />
<link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />

    <link href="/css/site.css" rel="stylesheet" />

    </head>
    <body class="container">
        <h1>Welcome to book store application</h1>
        <h3>@DateTime.Now.ToString()</h3>
    <img src="/images/logo.jpg" class="logo" alt="logo" /> 
    <input type="button" value="Click me" class="btn btn-danger" />
    <input type="button" value="Click me2" class="btn btn-primary" />
    </body>
<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/lib/jquery/jquery.slim.min.js"></script>
<script src="~/lib/jquery/jquery.slim.js"></script>
<script src="~/lib/jquery/jquery.js"></script>
</html>
<script>
    $(document).ready(function(){
        
    });
</script>
