@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
    <link href="/css/site.css" rel="stylesheet" />
    </head>
    <body>
        <h1>Welcome to book store application</h1>
        <h3>@DateTime.Now.ToString()</h3>
    <img src="/images/logo.jpg" class="logo" alt="logo" />
    
    <img src="~/mystaticfiles/demo.jpg" class="logo" alt="demo" />
 
    </body>
</html>
